<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">JD Random</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Torneo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Canción del día</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  


  <div class="container">
    <div class="row">
      <!-- Columna de 1/4 para los inputs y la lista -->
      <div class="col-md-3">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">¡Empieza el torneo!</h5>
        <!-- Input para el lugar -->
        <div class="form-group">
          <label for="lugarInput">Lugar</label>
          <input type="text" class="form-control" id="lugarInput" placeholder="Ingresa el lugar">
        </div>
        
        <!-- Input para la persona encargada -->
        <div class="form-group">
          <label for="encargadoInput">Persona encargada</label>
          <input type="text" class="form-control" id="encargadoInput" placeholder="Ingresa el nombre del encargado">
        </div>
  
        <!-- Input para agregar personas a la lista -->
        <div class="form-group">
            <label for="personaInput">Agregar persona</label>
            <input type="text" class="form-control" id="personaInput" placeholder="Presiona Enter para agregar"
                   (keydown.enter)="addPlayer(personaInput.value); personaInput.value=''" #personaInput>
          </div>
  
        <!-- Lista dinámica de personas -->
        <ul id="listaPersonas" class="list-group mt-3">
            <!-- Aquí iteramos sobre los jugadores en el arreglo players -->
            <li *ngFor="let player of players; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
              {{ player.name }}
              <div>
                <button class="btn btn-sm btn-warning" [disabled]="!isEditable" (click)="editPlayer(i)"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-sm btn-danger"[disabled]="!isEditable"  (click)="deletePlayer(i)"><i class="bi bi-trash"></i></button>
              </div>
            </li>
          </ul>
  
        <!-- Botón para iniciar -->
        <button class="btn btn-primary mt-3" id="botonIniciar" [disabled]="!isEditable" (click)="runRandom()" >Iniciar</button>
      </div>
        </div></div>
  
      <!-- Columna de 3/4 vacía por ahora -->
      <div class="col-md-9">
        <div class="container">
            <div class="row">
              <!-- Itera sobre las rondas guardadas en roundList -->
              <div class="col-md-4" *ngFor="let round of roundList; let roundIndex = index">
                <div class="card">
                  <h5 class="card-title">Fase {{ roundIndex + 1 }}</h5>
                  <!-- Itera sobre los versus de la ronda actual -->
                  <app-ronda [versusList]="round.versus"></app-ronda>
                </div>
              </div>
            </div>
          </div>
      </div>

  

  